[core]
  editor = vim
[user]
  name = Sean O'Neil
  email = oneilse14@gmail.com
[color]
  ui = true
  diff = true
  branch = auto
  status = auto
[merge]
  keepBackup = false;
  tool = kdiff3
[mergetool]
  prompt = false
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
  tool = p4merge
[difftool]
  prompt = false
[difftool "p4merge"]
  cmd = p4merge "$LOCAL" "$REMOTE"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
