export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export ANDROID_SDK=$HOME/Android/Sdk
export ANDROID_SDK_ROOT=$ANDROID_SDK
export ANDROID_HOME=$ANDROID_SDK

unameOut="$(uname -s)"
case "${unameOut}" in
  Linux*)   export JAVA_HOME=/usr/lib/jvm/default;;
  Darwin*)  export JAVA_HOME="$(/usr/libexec/java_home -v 11)";;
  *)        export JAVA_HOME=JAVA_HOME
esac

export GOPATH=$(go env GOPATH)
export GOBIN=$GOPATH/bin

export N_PREFIX=$XDG_DATA_HOME/n

# Make `pip3 install --user` install packages to .local on os x`
export PYTHONUSERBASE=$HOME/.local

export PLATFORM=$(uname)


export EDITOR=vim
export SYSTEMD_EDITOR=vim
export VISUAL=vim

if [[ $PLATFORM == "Darwin" ]]; then
  export PAGER=/usr/local/bin/less
else
  export PAGER=/usr/bin/less
fi

export LESSOPEN="|/usr/local/bin/lesspipe.sh %s" LESS_ADVANCED_PREPROCESSOR=1

export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -l -g ""'
export FZF_DEFAULT_OPTS="--layout=reverse --inline-info"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"


# setup PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH=$ANDROID_SDK/platform-tools:$PATH
export PATH=$ANDROID_SDK/cmdline-tools/latest/bin:$PATH
export PATH=$HOME/.fzf/bin:$PATH                        # fzf fuzzy finder
export PATH=$HOME/.cargo/bin:$PATH                      # rust scripts
export PATH=$GOBIN:$PATH                                # go binaries
export PATH="$(ruby -e 'puts Gem.user_dir')/bin":$PATH  # RubyGems
export PATH=".:$PATH"                                   # gradle completion
