[Match]
Name=w*

[Link]
Multicast=true
AllMulticast=true

[Network]
DHCP=ipv4
# DNS=192.168.1.1
MulticastDNS=true
# LLMNR=true

[DHCP]
RouteMetric=20
