#!/usr/bin/env bash

if [[ -z "$SSH_CLIENT" ]]; then
  xsettingsd &
  picom -b --dbus
  lxpolkit &
  libinput-gestures-setup start
  unclutter &
  dunst &
  networkd-notify &
  monitor-hotplug &
  wal -R &
fi
